{% extends 'reviews/base.html' %}
{% load static %}


{% block title %}Your Review {% endblock %}
    <link rel="stylesheet" href="{% static 'reviews/styles.css' %}">

{% block content %}
    <form method="POST">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-control {% if field.errors %} errors {% endif %}">
            {{ field.label_tag }}
            {{ field }}
            {{ field.errors }}
        </div>
        {% endfor %}
        <button type="submit">Send</button>
    </form>
{% endblock %}