body {
    font-family: sans-serif;
}

form {
    margin: 3rem auto;
    width: 90%;
    max-width: 40rem;
    padding: 1rem;
    border-radius: 12px;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0,0,0,0.26);
}

button {
    cursor: pointer;
    padding: 0.5rem 1.5rem;
    border-radius: 12px;
    background-color: rgb(19, 2, 57);
    color: white;
}