body {
    font-family: sans-serif;
}

form {
    margin: 3rem auto;
    width: 90%;
    max-width: 30rem;
    padding: 1rem;
    border-radius: 12px;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0,0,0,0.26);
}

button {
    cursor: pointer;
    padding: 0.5rem 1.5rem;
    border-radius: 6px;
    background-color: rgb(19, 2, 57);
    color: white;
    border: 1px solid rgb(19, 2, 57);
}

button:hover,
button:active {
    background-color: #320777;
    border-color: #320777;
}

.form-control {
    margin-bottom: 1rem;
}

.form-control input {
    font: inherit;
    padding: 0.25rem;
    border-radius: 4px;
    border: 1px solid #ccc;
    display: block; /* so it takes up the entire line*/
    width: 10rem;
}

.form-control input:focus {
    border-color: #1f0050;
    outline: none;
    background-color: #f4eeff;
}

.form-control label {
    font-weight: bold;
    display: block;
    margin-bottom: 0.5rem;
}

.errorlist {
    list-style: none;
    margin: 0.5rem;
    padding: 0;
    color: rgb(105, 4, 4);
}

.errors input {
    border-color: rgb(105, 4, 4);
    background-color: rgb(239, 215, 215);
}

.errors label {
color: #680000;
}
